h1 { /* Header */
    font-family: 'American Typewriter', serif;
    text-align: center;
}

#board { /* For text inside board */
    font-family: 'Didot', serif;
    position: relative;
    font-size: 20px;
    margin: 1% auto;
    border-collapse: collapse;
}
#board td { /* Individual board squares*/
    border: 3px solid rgb(60, 60, 60);
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#board td div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.selected {
    background-color: Bisque;
}

.blackout {
    background-color: rgb(60,60,60);
}

.flex {
    display: flex;
    justify-content: space-around;
}

.innerCellText {
    font-family: 'Didot', serif;
    position: relative;
    font-size: 20px;
    margin: 1% auto;
    border-collapse: collapse;
    user-select: none;
}

.topLeftText {
    font-family: 'Didot', serif;
    color: rgb(60, 60, 60);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px; /* Adjust the size as needed */
    padding: 2px; /* Adjust the padding as needed */
}
